:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.mat-form-field{
    width: 10%;
    min-width: 300px;
       
    }

mat-card-title,
mat-card-content{
    display: flex;
    justify-content: center;
}
button{
    width: 100%;
    background: #1E88E5;
}